body {
    margin: 0;
    overflow-x: hidden;
}

#input {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    width: 90vw;
    height: 20vh;
}

#workers {
    margin-left: 5vw;
}

#words {
    position: absolute;
    top: 35vh;
    left: 20vw;
    float: left;
}

#notWords {
    position: absolute;
    top: 35vh;
    left: 60vw;
    float: left;
    height: 60vh;
    width: 30vw;
}

.container {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-flow: column wrap;
    overflow: auto;
}

p {
    position: relative;
    width: 100px;
}